<a href="https://colab.research.google.com/github/Gail529/climate_change/blob/main/cllimate_change.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
climate_data=pd.read_csv('/content/greenhouse_gas_inventory_data_data.csv')

In [ ]:
climate_data.head(5)

  country_or_area  ...                                           category
0       Australia  ...  carbon_dioxide_co2_emissions_without_land_use_...
1       Australia  ...  carbon_dioxide_co2_emissions_without_land_use_...
2       Australia  ...  carbon_dioxide_co2_emissions_without_land_use_...
3       Australia  ...  carbon_dioxide_co2_emissions_without_land_use_...
4       Australia  ...  carbon_dioxide_co2_emissions_without_land_use_...

[5 rows x 4 columns]

Group df into the different categories

In [ ]:
categories=list(set(climate_data['category']))
print(categories)
print(len(categories))

countries=list(set(climate_data['country_or_area']))
print(len(countries))
print(countries)

['perfluorocarbons_pfcs_emissions_in_kilotonne_co2_equivalent', 'sulphur_hexafluoride_sf6_emissions_in_kilotonne_co2_equivalent', 'methane_ch4_emissions_without_land_use_land_use_change_and_forestry_lulucf_in_kilotonne_co2_equivalent', 'nitrogen_trifluoride_nf3_emissions_in_kilotonne_co2_equivalent', 'unspecified_mix_of_hydrofluorocarbons_hfcs_and_perfluorocarbons_pfcs_emissions_in_kilotonne_co2_equivalent', 'nitrous_oxide_n2o_emissions_without_land_use_land_use_change_and_forestry_lulucf_in_kilotonne_co2_equivalent', 'greenhouse_gas_ghgs_emissions_without_land_use_land_use_change_and_forestry_lulucf_in_kilotonne_co2_equivalent', 'greenhouse_gas_ghgs_emissions_including_indirect_co2_without_lulucf_in_kilotonne_co2_equivalent', 'carbon_dioxide_co2_emissions_without_land_use_land_use_change_and_forestry_lulucf_in_kilotonne_co2_equivalent', 'hydrofluorocarbons_hfcs_emissions_in_kilotonne_co2_equivalent']
10
43
['Turkey', 'Austria', 'Czech Republic', 'Australia', 'Ireland', 'European Union', 'Sweden', 'Romania', 'Bulgaria', 'Iceland', 'France', 'New Zealand', 'United Kingdom', 'Netherlands', 'Malta', 'Slovakia', 'Monaco', 'Spain', 'Japan', 'Finland', 'Lithuania', 'Liechtenstein', 'Slovenia', 'Denmark', 'Belgium', 'Greece', 'Cyprus', 'Italy', 'Portugal', 'Germany', 'Ukraine', 'Luxembourg', 'Canada', 'Belarus', 'Croatia', 'Estonia', 'Norway', 'Switzerland', 'Poland', 'Latvia', 'Russian Federation', 'Hungary', 'United States of America']

In [ ]:
#category 1
cat_1=categories[0]
#anakgreget_data=data.loc[data['white_id'] == 'anakgreget' ]
cat_1_df=climate_data.loc[climate_data['category'] == cat_1 ]
cat_1_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 831 entries, 6468 to 7298
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   country_or_area  831 non-null    object
 1   year             831 non-null    int64
 2   value            831 non-null    float64
 3   category         831 non-null    object
dtypes: float64(1), int64(1), object(2)
memory usage: 32.5+ KB

Extracting array values

In [ ]:
#extract array values of cat_df
cat_1_df.head(5)
cat_values=cat_1_df['value']
len(cat_values)

831

Pasting array values to main-df

In [ ]:
#new_df main_df
col_names=categories
main_df=pd.DataFrame(columns=col_names)
main_df=main_df['country']
main_df

KeyError: ignored

In [ ]:
#piecing it all together